# Cached directories and files
.DS_Store
.git/
.gitignore
.idea/
.vscode/
.vs/
Debug/
bin/
build/
cmake-build-debug/
Java/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Compiled object files
*.slo
*.lo
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
